<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="manifest" href="manifest.webmanifest">

    <title>SimpleTimeTracking</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
        integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.2.2/moment-duration-format.min.js"
        integrity="sha256-bXC/nhRjq/J7K4hnL8yvthqXkskSKOsZNfrLgXBigYg=" crossorigin="anonymous"></script>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
    <script>
        navigator.serviceWorker.register('service-worker.js')
            .then(function (registration) {
                console.log('Registration successful, scope is:', registration.scope);
            })
            .catch(function (error) {
                console.log('Service worker registration failed, error:', error);
            });
    </script>
    <style>
        html, body, #app {
            height: 100%;
        }
        .md-app {
            max-height: 100%;
        }
        .md-table-cell-container {
            padding: 0px !important;
        }
    </style>
</head>

<body>
    <div id="app">
        <md-app md-waterfall md-mode="fixed">
            <md-app-toolbar class="md-primary">
                <span class="md-title" style="flex: 1">Simple Time Tracker</span>
                <reset-button></reset-button>
                <md-button class="md-icon-button" onclick="print()">
                    <md-icon>print</md-icon>
                </md-button>
            </md-app-toolbar>
            <md-app-content>
                Start: <date-time-input v-model="startDateTime"></date-time-input>
                End: {{endDateTime.format("HH:mm")}}
                Break: <duration v-model="breakDuration"></duration>
                Total time: {{totalDurationAsString}}
                Work time: {{workDurationAsString}}
                <task-list v-bind:tasks="tasks"></task-list>
            </md-app-content>
        </md-app>
        <md-button v-on:click="add()" class="md-fab md-fab-bottom-right md-accent">
            <md-icon>add</md-icon>
        </md-button>
    </div>


    <script src="https://unpkg.com/vue-material@beta"></script>
    <script>
        Vue.use(VueMaterial.default);
        let nextId = 1;

        class Store {
            constructor() {
                this.data = this.load();
            }

            defaultValues() {
                return {
                    start: new Date(),
                    break: 15,
                    tasks: [
                        { id: nextId++, duration: 60, description: 'Description1' },
                        { id: nextId++, duration: 61, description: 'Description2' },
                    ],
                };
            }

            load() {
                const json = localStorage.getItem('data');
                if (!json) {
                    return this.defaultValues();
                }
                return JSON.parse(json);
            }

            save() {
                localStorage.setItem('data', JSON.stringify(this.data));
            }

            reset() {
                Object.assign(this.data, this.defaultValues());
                localStorage.clear();
                this.save();
            }

            updateStart(start) {
                this.data.start = start;
                this.save();
            }

            updateBreak(newBreakLength) {
                this.data.break = newBreakLength;
                this.save();
            }

            updateDuration(id, duration) {
                const task = this.data.tasks.find(task => task.id === id);
                task.duration = Math.max(0, duration);
                this.save();
            }

            updateDescription(id, description) {
                const task = this.data.tasks.find(task => task.id === id);
                task.description = description;
                this.save();
            }

            addTask() {
                this.data.tasks.push({
                    id: nextId++,
                    duration: 60,
                    description: 'Description1',
                });
                this.save();
            }

            deleteTask(id) {
                this.data.tasks.splice(this.data.tasks.findIndex(task => task.id == id), 1);
                this.save();
            }
        }

        let store = new Store();

        Vue.component('date-time-input', {
            props: ['value'],
            computed: {
                time: {
                    get: function () {
                        return this.value.format('hh:mm');
                    },
                    set: function (newValue) {
                        const duration = moment.duration(newValue);
                        const newVal = moment(this.value);
                        newVal.hours(duration.hours()).minutes(duration.minutes())
                            .seconds(0).milliseconds(0);
                        this.$emit('input', newVal);
                    },
                },
                date: {
                    get: function () {
                        return this.value.format('YYYY-MM-DD');
                    },
                    set: function (newValue) {
                        const newVal = moment(newValue);
                        newVal.hours(this.value.hours()).minutes(this.value.minutes());
                        this.$emit('input', newVal);
                    }
                },
            },
            template: `
                <span>
                    <input type="date" v-model="date" />
                    <input type="time" v-model="time" />
                </span>
            `,
        });

        Vue.component('duration', {
            props: ['value'],
            computed: {
                durationAsString: {
                    get: function () {
                        const duration = moment.duration(this.value, 'minutes');
                        return duration.format('HH:mm', { trim: false });
                    },
                    set: function (newValue) {
                        const time = moment.duration(newValue);
                        this.$emit('input', time.asMinutes());
                    }
                },
            },
            methods: {
                addDuration: function (minutes) {
                    this.$emit('input', this.value + minutes);
                },
            },
            template: `
            <span style="display: flex; align-items: center;">
                <md-button class="md-icon-button md-dense md-raised md-primary" v-on:click="addDuration(-15)">-15"</md-button>
                <span>{{durationAsString}}</span>
                <md-button class="md-icon-button md-dense md-raised md-primary" v-on:click="addDuration(15)">+15"</md-button>
            </span>
            `,
        })

        Vue.component('task', {
            props: ['task'],
            computed: {
                duration: {
                    get: function () {
                        return this.task.duration;
                    },
                    set: function (newValue) {
                        store.updateDuration(this.task.id, newValue);
                    },
                },
                description: {
                    get: function () {
                        return this.task.description;
                    },
                    set: function (newValue) {
                        store.updateDescription(this.task.id, newValue);
                    },
                },
            },
            methods: {
                deleteTask: function () {
                    store.deleteTask(this.task.id);
                },
            },
            template: `
            
            <md-table-row>
                <md-table-cell>
                    <md-field md-clearable>
                        <md-input v-model="description"></md-input>
                    </md-field>
                </md-table-cell>
                <md-table-cell><duration v-model="duration" /></md-table-cell>
                <md-table-cell>
                    <md-button class="md-icon-button" v-on:click="deleteTask()">
                        <md-icon>delete</md-icon>
                    </md-button>
                </md-table-cell>
            </md-table-row>
            `,
        })

        Vue.component('task-list', {
            props: ['tasks'],
            template: `
                <div>
                    <md-table class="md-scrollbar">
                        <task
                            v-for="task in tasks"
                            v-bind:task="task"
                            v-bind:key="task.id"
                        ></task>
                    </md-table>
                </div>
            `,
        })

        Vue.component('reset-button', {
            data: () => ({active: false}),
            methods: {
                reset() {
                    store.reset();
                }
            },
            template: `
                <div>
                    <md-dialog-confirm
                        :md-active.sync="active"
                        md-title="Reset to defaults?"
                        md-content=""
                        md-confirm-text="Reset"
                        md-cancel-text="Keep"
                        @md-confirm="reset" />

                    <md-button v-on:click="active = true" class="md-icon-button">
                        <md-icon>settings_backup_restore</md-icon>
                    </md-button>
                </div>
            `,
        })

        let app = new Vue({
            el: '#app',
            data: store.data,
            computed: {
                startDateTime: {
                    get: function () {
                        return moment(this.start);
                    },
                    set: function (newValue) {
                        store.updateStart(newValue.asDate());
                    },
                },
                totalDuration: function () {
                    return this.tasks.reduce((acc, task) => acc + task.duration, 0);
                },
                totalDurationAsString: function () {
                    return moment.duration(this.totalDuration, 'minutes').format('hh:mm', { trim: false });
                },
                endDateTime: function () {
                    const end = moment(this.start).add(this.totalDuration, 'minutes');
                    return end;
                },
                breakDuration: {
                    get: function () {
                        return this.break;
                    },
                    set: function (newValue) {
                        store.updateBreak(newValue);
                    }
                },
                workDuration: function () {
                    return this.totalDuration - this.breakDuration;
                },
                workDurationAsString: function () {
                    return moment.duration(this.workDuration, 'minutes').format('hh:mm', { trim: false });
                },
            },
            methods: {
                add: function () {
                    store.addTask();
                },
            }
        });
    </script>
</body>

</html>